@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');

.nav, ul, li {
  font-family: 'Sarabun', sans-serif;
}

.h1, h2, h3 {
  font-family: 'Sarabun', sans-serif;
}

.footer {
  font-family: 'Sarabun', sans-serif;
}

.section {
  padding-top: 40px;
  padding-bottom: 50px;
  font-family: 'Sarabun', sans-serif;
}

.main-heading {
  color: orangered;
  font-size: 25px;
  font-family: 'Sarabun', sans-serif;
}

.underline {
  height: 4px;
  width: 10rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Sarabun', sans-serif;
}

.bg-c-light {
  background-color: #f2f2f2;
}

.footer a{
  color: #fff;
  text-decoration: none !important;
}

.footer a:hover {
  color: gray;
}
